.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 40px;
}

img {
  width: 200px;
  border-radius: 50%;
  background-color: lightgray;
}

.name {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 0px;
}

.tag {
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 0px;
  color: gray;
}

.location {
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 0px;
  color: gray;
}
