table {
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: rgb(143, 171, 202);
  border-spacing: 1px;
  border-collapse: collapse;
  box-shadow: 4px 4px 15px 4px black;
}

.transaction_item {
  background-color: white;
}

.transaction_item:nth-child(2n) {
  background-color: lightgray;
}

td {
  width: 135px;
  text-align: center;
  text-transform: capitalize;
}

td:not(:last-child) {
  border-right: 1px solid lightgray;
}
